body{
    font-family: 'Roboto', sans-serif; ;
}
/*  змінні */
:root{
    --text-color: NAVY BLUE;
--background-color:#F4F4FD;
--backgrcolor: #FFFFFF;

}
.main-text {
    color:#FFFFFF ;
    font-size: 56px;
}
.frame-button {
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
}