/*  змінні */
:root {
  --text-color: #434455;
  --text-color-2: #2E2F42;
  --background-color: #f4f4fd;
  --backgrcolor: #ffffff;
}
/* header */
.web{

}
.studio{
 color: var(--text-color-2); 
}
/* кнопка */
.main-text {
  color: #ffffff;
  font-size: 56px;
}
.frame-button {
  background-color: #2e2f42;
}
.button-main{
    font-family: 'Roboto';
    background: #4D5AE5;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height:1.5;
}
/* наші принципи */
.list-princ {
    
}
.list-text-item {
    
}
/* Що ми робимо */
.header-sec{
  color: var(--text-color-2);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
/* наша команда */
/* 4 клас */
.our-team{
  background-color: #F4F4FD;
}
.header-sec{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-color-2);
  }
.list-last-sec{
list-style: none;
}
.list-last-item{
  background-color: #ffffff;
}
.name{
  color: var(--text-color-2);
  font-weight: 700;
  font-size: 20px;
}
.work{
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.5;
}
/* низ */
.fot-frame{
  background-color: var(--text-color-2);
  }
.fot{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
}
