/* змінні */
:root {
  --text-color: #434455;
  --backgr-color: #ffffff;
  --t-color--: #4d5ae5;
  --color--: #2e2f42;
}
/* шапка сайта */
.link{
    text-decoration: none;
}
.web {
  font-family: 'Raleway': sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--t-color--);
  font-weight: 800;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.17;
}
.studio {
    font-family: 'Raleway';
  color: var(--color--);
}
.list{
    list-style: none;
}
.list-it {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* кнопка */
.first-sec {
  background-color: var(--color--);
}
.header-first {
  color: var(--backgr-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.button-first {
    font-family: 'Roboto': sans-serif;
  background-color: var(--t-color--);
  color: var(--backgr-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
}
/* наші принципи */
.header-sec {
}
.header-third {
  color: var(--color--);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.third-h {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* що ми робимо */
.header-four {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color--);
}
/* наша команда */
.team {
  background-color: #f4f4fd;
}
.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color--);
  background-color: var(--backgr-color);
}
.job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--backgr-color);
}
/*  низ*/
.bott {
  background-color: var(--color--);
}
.studio-bot{
    font-family: 'Raleway';
    color: #F4F4FD;
}
.boot-p{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

}